@model DemoT3.Domains.User

@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit User</h1>
<hr />
<div class="row">
    <div class="form-group">
        <form asp-action="EditUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" /><input type="hidden" asp-for="UserDetail.Id" />
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserDetail.FirstName" class="control-label"></label>
                <input asp-for="UserDetail.FirstName" class="form-control" />
                <span asp-validation-for="UserDetail.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserDetail.LastName" class="control-label"></label>
                <input asp-for="UserDetail.LastName" class="form-control" />
                <span asp-validation-for="UserDetail.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserDetail.PhoneNumber" class="control-label"></label>
                <input asp-for="UserDetail.PhoneNumber" class="form-control" />
                <span asp-validation-for="UserDetail.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserDetail.Address" class="control-label"></label>
                <input asp-for="UserDetail.Address" class="form-control" />
                <span asp-validation-for="UserDetail.Address" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save User" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
