@model IEnumerable<DemoT3.Domains.User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    @{
        Html.RenderPartial("PartialViewUser", Model);

    }
    @await Component.InvokeAsync("User")
</div>
