@model IEnumerable<DemoT3.Domains.User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="text-center">
    @{
        Html.RenderPartial("PartialViewUser");
    }
    @await Component.InvokeAsync("User")

</div>



